<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Acqua su Marte </h1>

    <p> Gli scienziati confermano la presenza di acqua su Marte, con tracce di ghiaccio e fiumi sotterranei rilevati dai rover e dai satelliti. <br>
        Questa scoperta apre nuove possibilità per la ricerca di vita extraterrestre e per future missioni umane sul Pianeta Rosso. <br>
        Marte continua a rivelarsi un mondo pieno di sorprese.
    </p>
</body>
</html>