.div {

    display: flex;
    flex: 1px;
}

.sidebar {

    border: solid 1px;
    width: 100px;
}

.wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.areaContenuti {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}