<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Serial Killer a Roma </h1>

    <p> Roma è sotto choc per la comparsa di un nuovo serial killer soprannominato Jack. <br>
        Gli investigatori descrivono scene del crimine inquietanti e misteriose, con indizi criptici lasciati dal colpevole. <br>
        La polizia invita i cittadini alla prudenza mentre le indagini continuano, cercando di fermare questo misterioso assassino prima che colpisca di nuovo.
    </p>
</body>
</html>